@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.header {
  background-color: var(--bgcolor);
  color: white;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  margin: 10px auto;
  gap: 1rem;
}

.logo {
  font-family: "Dancing Script", cursive;
}

.logo-name {
    padding:  0 3px;
    white-space: nowrap;
}

.logo > span {
    color: white;
    text-decoration: none;
    gap: 1em;
    font-size: xx-large;
    
}

.nav-links {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-right: 20px;
    flex-wrap: wrap;
}

.nav-links > a {
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    font-size: 1.2em;
    transition: all 150ms ease-in;


}

.nav-links > a:hover {
    background-color:  var(--themeColor);
}

@media screen and (max-width: 700px) {
    .header{
        flex-direction: column;
        gap: 2em;
    }
}